html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  line-height: 1.5;
  font-family: "PT Sans", serif;
  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #341622;
  text-decoration: none;
}

h1,
h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

nav {
  font-size: 1.125rem;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

nav a :hover {
  color: #222;
  text-decoration: none;
  text-decoration: underline;
}

nav ol {
  list-style-type: none;
}

figure {
  text-align: center;
}

figcaption {
  font-style: italic;
}

main figure + p {
  font-weight: bold;
  font-size: 1.125rem;
}

blockquote p {
  font-size: 1.5rem;
  font-style: italic;
}

blockquote cite {
  font-size: .8rem;
}

blockquote strong {
  font-weight: normal;
}

/* font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif; */
