html {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-family: "PT Serif", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*font-family: "PT Sans", sans-serif;
font-family: "PT Serif", serif;*/

h1, h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #3f1622;
}

nav ol {
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
  color: #8f2440;
}

body {
  background-color: #c9b5ab;
  line-height: 1.5;
}

img {
  width: 100%;
}

figcaption {
  font-family: "PT Serif", serif;
  color: #222;
  font-style: italic;
}

main p {
  font-family: "PT Serif", serif;
  font-weight: bold;
  color: #222;
}

main p:first-child {
  font-family: "PT Serif", serif;
  font-weight: normal;
}
