html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*font-family: "PT Sans", sans-serif;
font-family: "PT Serif", serif;*/


h1, h2 {
  font-family: "PT Sans", sans-serif;
  color: #8f2440;
}

nav ol {
  font-family: "PT Sans", sans-serif;
  color: #8f2440;
}

body {
  background-color: #c9b5ab;
}
